body{
  background-repeat: no-repeat;
  background-size:cover;
}

.main-div{
	margin:15px 15px;
	background-color: rgba(34,67,56,0.5);
	//min-width: 400px;
	//padding-top: 80px;
	//padding-bottom: 80px;
  border-radius: 4px;
}

.menu-div {
				padding-left: 0px;
}

#SearchBox{
				margin-top: 15px;
}

#SelectList{
				list-style-type: none;
				padding-left: 5px;
				margin-top: 20px;
				margin-bottom: 100px;
}

.list-item {
				border: 2px solid dimgray;
				margin: 2px 0px;
				margin-top: 5px;
				margin-bottom: 5px;
}

.list-item a:visited{
				text-decoration: none;
}

.list-item a:hover{
				text-decoration: none;
}

.list-item:hover{
				background-color: #aaaaaa;
}

.list-item a div:hover{
				color: #333333;
}

.list-item a div{
				color: black;
}

.list-item a div p{
				color: red;
}

.checkbox-div {
				margin-top: 19px;
				padding-left: 0px;
}

footer {
  position: fix;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;    
	font-weight: bold;
}

a:link {color: red; text-decoration: none; font-weight: bold; !important}
a:active {color: red; text-decoration: none; font-weight: bold;  !important}
a:visited {color: red; text-decoration: none; font-weight: bold; !important}
a:hover {color: red; text-decoration: none; font-weight: bold; !important}
